* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: rgb(59, 59, 59);
}

:root {
	--main-blue: #2968e2;
	--main-blue-oscuro: #2e61c7;
}

.color-white {
	color: #fff;
}

a {
	text-decoration: none;
}

*::selection {
	background-color: #33ee90;
	color: white;
}

::-webkit-scrollbar {
	width: 10px;
	background: transparent;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
	background: var(--main-blue);
	border-radius: 5px;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
