.loader__container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	width: 2em;
	height: 2em;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-top: 2px solid rgba(255, 255, 255, 1);
	animation: rotate 0.5s infinite;
	animation-timing-function: linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
