.mainLayout {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.mainLayout__navPanel {
	box-shadow: 7px 0px 50px rgba(0, 0, 0, 0.05);
	padding: 3em;
	position: sticky;
	top: 0;
	max-height: 100vh;
}

.mainLayout__navPanel__user {
	display: flex;
	width: 100%;
	align-items: center;
}

.mainLayout__navPanel__img {
	width: 4em;
	height: 4em;
	object-fit: cover;
	border-radius: 1em;
	margin-right: 1em;
}

.mainLayout__navPanel__username {
	font-size: 1.25rem;
	font-weight: bold;
}

.mainLayout__container {
	padding: 3em;
}

.mainLayout__container__header {
	width: 100%;
	height: 25vh;
	overflow: hidden;
	border-radius: 1em;
	background: url('/img/header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 15px 49px rgba(0, 0, 0, 0.25);
}

.mainLayout__container__header__gradient {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 2em;
	justify-content: flex-end;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
}

.nav {
	margin-top: 3em;
}

.nav__ul {
	list-style: none;
}

.nav__item {
	width: 100%;
	height: 3em;
	padding: 1em;
	margin: 1em 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 1em;
	transition: 0.3s;
}

.nav__item.active {
	background: var(--main-blue);
}
.nav__item.active:hover {
	background: var(--main-blue-oscuro);
}

.nav__item__text--logOut {
	color: #ff8080;
}

.nav__item.active .nav__item__text {
	color: white;
}

.nav__item:hover {
	background: rgb(228, 228, 228);
}

.form-monitoria {
	width: 50%;
	margin: 0 auto;
	margin-top: 5em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form-monitoria__title {
	margin: 0 auto;
	margin-bottom: 0.5em;
	font-size: 2em;
}

.form-monitoria__input {
	height: 3.125em;
	box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 0.625em;
	border: none;
	outline: none;
	padding: 0 1em;
	margin: 1em 0;
}

.form-monitoria__input:focus {
	border: 1px solid var(--main-blue);
}

.form-monitoria__input.long {
	width: 100%;
}

.form-monitoria__input.half {
	width: 45%;
}

.form-monitoria__input__span {
	font-weight: bold;
	margin-right: 1em;
}

.form-monitoria__input.text-area {
	padding: 1em;
	height: auto;
	resize: none;
}

.form-monitoria__button {
	height: 3.125em;
	width: 50%;
	background: var(--main-blue);
	font-weight: bold;
	border: none;
	border-radius: 1.5625em;
	color: white;
	margin: 1em auto;
	transition: 0.2s;
	box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.form-monitoria__button.monitorias {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
}

.form-monitoria__button.modalMonitor.red {
	background: rgb(255, 93, 93);
}

.form-monitoria__button.modalMonitor {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	margin: 0 auto;
	padding: 0 5em;
}

.success {
	width: 45%;
	margin: 0 auto;
	margin-top: 10em;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: fadeUp 1s;
	text-align: center;
}

.success__img {
	width: 5em;
	height: 5em;
	margin-bottom: 2em;
}

.ghotsBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.125em;
	width: 40%;
	font-weight: bold;
	border: 1px solid var(--main-blue);
	border-radius: 1.5625em;
	color: var(--main-blue);
	margin: 1em auto;
	transition: 0.2s;
	box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
}

.ghotsBtn:hover {
	background: var(--main-blue);
	color: white;
}

.userItem {
	width: 70%;
	display: grid;
	padding: 2em;
	grid-gap: 1em;
	grid-template-columns: 1fr 4fr 2fr;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 1em;
	margin-bottom: 3em;
	align-items: center;
}

.userItem__img {
	height: 4em;
}
.userItem__button {
	width: 100%;
	margin: 1em 0;
	background: #e3e3e3;
	color: #666666;
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 1em;
	font-weight: bold;
	cursor: pointer;
}
.userItem__button.monitor {
	background: var(--main-blue);
	color: white;
}

.reset-button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}

@keyframes fadeUp {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
