@page "/monitorias"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="mainLayout">
			<div class="mainLayout__navPanel">
				<div class="mainLayout__navPanel__user">
					<img
						class="mainLayout__navPanel__img"
						src="/img/perfil.svg"
						alt="Perfil"
					/>
					<div>
						<span class="mainLayout__navPanel__username">Admin</span>
						<br />
						<span>USC</span>
					</div>
				</div>
				<nav class="nav">
					<ul class="nav__ul">
						<li>
							<a href="/" class="nav__item active">
								<span class="nav__item__text">Monitores</span>
							</a>
						</li>
						<li>
							<a href="/" class="nav__item">
								<span class="nav__item__text">Monitores</span>
							</a>
						</li>
						<li>
							<a href="/" class="nav__item">
								<span class="nav__item__text--logOut">Cerrar Sesión</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="mainLayout__container">
				<header class="mainLayout__container__header">
					<div class="mainLayout__container__header__gradient">
						<h1 class="color-white">Sistema de monitorías</h1>
						<span class="color-white">Universidad Santiago de Cali</span>
					</div>
				</header>
				<main>
           @foreach (var item in _monitorias)
        {
            <div style="margin: 20px; width: 300px;">
                @item["Name"]
            </div>
        }
        </main>
			</div>
		</div>

    @functions {
    private Newtonsoft.Json.Linq.JArray _monitorias;

     protected override async Task OnInitializedAsync() { await getMonitorias(); }

    private async Task getMonitorias() => _monitorias = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(await
        Http.GetStringAsync("http://localhost:5000/api/usuarios/"));

    }
@code {

  async void sendData()
    {
        var response = await Http.GetStringAsync("http://localhost:8080/api/monitorias");

        Console.WriteLine(response);
    }
}