@page "/login"

@inject HttpClient Http
@inject NavigationManager NavigationManager

<main class="loginRegister">
			<section class="loginRegister__formSection">
				<img class="loginRegister__logo" src="/img/logo.png" alt="Logo" />
				<form class="loginRegister__form" action="">
					<h1 class="loginRegister__title">Iniciar Sesión</h1>
					<input
						placeholder="Correo"
						class="loginRegister__input"
						type="email"
						@bind="mail"
					/>
					<input
						placeholder="Contraseña"
						class="loginRegister__input"
						type="password"
						@bind="password"
					/>
					<button class="loginRegister__button">Iniciar Sesión</button>
					<p class="loginRegister__question">
						¿Aún no tienes cuenta?
						<a class="loginRegister__question__a" href="/sign-up" type="button" @onclick="@sendData"> Regístrate </a>
					</p>
				</form>
			</section>
			<section class="loginRegister__imageSection">
				<h2 class="loginRegister__imageSection__title">
					Sistema de <br />
					monitorías
				</h2>
				<img
					class="loginRegister__imageSection__img"
					src="/img/login-register/students.png"
					alt="Estudiantes"
				/>
			</section>
		</main>

@code{
    private string mail;
    private string password;
    private string _error = "";

    private async void sendData()
    {
        var respuesta = await Http.GetStringAsync("http://localhost:8080/api/usuarios/" + mail + "/" + password);

        if (respuesta != "error")
        {
            NavigationManager.NavigateTo($"/monitorias");
        }
        else
        {
            _error = "No existe...";
        }
    }
}
