@page "/login"

<main class="loginRegister">
			<section class="loginRegister__formSection">
				<img class="loginRegister__logo" src="/img/logo.png" alt="Logo" />
				<form class="loginRegister__form" action="">
					<h1 class="loginRegister__title">Iniciar Sesión</h1>
					<input
						placeholder="Correo"
						class="loginRegister__input"
						type="email"
					/>
					<input
						placeholder="Contraseña"
						class="loginRegister__input"
						type="password"
					/>
					<button class="loginRegister__button">Iniciar Sesión</button>
					<p class="loginRegister__question">
						¿Aún no tienes cuenta?
						<a class="loginRegister__question__a" href="/sign-up"> Regístrate </a>
					</p>
				</form>
			</section>
			<section class="loginRegister__imageSection">
				<h2 class="loginRegister__imageSection__title">
					Sistema de <br />
					monitorías
				</h2>
				<img
					class="loginRegister__imageSection__img"
					src="/img/login-register/students.png"
					alt="Estudiantes"
				/>
			</section>
		</main>

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@