@page "/register"

<main class="loginRegister">
			<section class="loginRegister__formSection">
				<img class="loginRegister__logo" src="/img/logo.png" alt="Logo" />
				<form class="loginRegister__form" action="">
					<h1 class="loginRegister__title">Registrarse</h1>
					<input
						placeholder="Correo"
						class="loginRegister__input"
						type="email"
					/>
					<input
						placeholder="Contraseña"
						class="loginRegister__input"
						type="password"
					/>
					<select class="loginRegister__input" name="" id="">
						<option value="f">G</option>
						<option value="f">G</option>
						<option value="f">G</option>
					</select>
					<button class="loginRegister__button">Registrarse</button>
					<p class="loginRegister__question">
						¿Ya tienes cuenta?
						<a class="loginRegister__question__a" href="/login"> Inicia Sesión </a>
					</p>
				</form>
			</section>
			<section class="loginRegister__imageSection--register">
				<h2 class="loginRegister__imageSection__title">
					Sistema de <br />
					monitorias
				</h2>
				<img
					class="loginRegister__imageSection__img--register"
					src="/img/login-register/students2.png"
					alt="Estudiantes"
				/>
			</section>
		</main>