@page "/register"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<main class="loginRegister">
	<section class="loginRegister__formSection">
		<img class="loginRegister__logo" src="/img/logo.png" alt="Logo" />
		<form class="loginRegister__form" action="">
			<h1 class="loginRegister__title">Registrarse</h1>
			<input placeholder="Nombre" class="loginRegister__input" type="text" @bind="name" />
			<input placeholder="Código" class="loginRegister__input" type="text" @bind="code" />
			<select class="loginRegister__input" @bind="career">
				<option selected="selected" value="Facultad">Facultad</option>
				<option value="Facultad de Ciencias Básicas">Facultad de Ciencias Básicas</option>
				<option value="Facultad de Ciencias Básicas">Facultad de Ciencias Básicas</option>
				<option value="Facultad de Ciencias Económicas y Empresariales">Facultad de Ciencias Económicas y
					Empresariales</option>
				<option value="Facultad de Comunicación  y Publicidad">Facultad de Comunicación y Publicidad</option>
				<option value="Facultad de Derecho">Facultad de Derecho</option>
				<option value="Facultad de Educación">Facultad de Educación</option>
				<option value="Facultad de Ingeniería">Facultad de Ingeniería</option>
				<option value="Facultad de Salud">Facultad de Salud</option>
			</select>
			<input placeholder="Correo" class="loginRegister__input" type="email" @bind="mail" />
			<input placeholder="Contraseña" class="loginRegister__input" type="password" @bind="password" />
			<button class="loginRegister__button" type="button" @onclick="@sendData">Registrarse</button>
			<p class="loginRegister__question">
				¿Ya tienes cuenta?
				<a class="loginRegister__question__a" href="/login"> Inicia Sesión </a>
			</p>
		</form>
	</section>
	<section class="loginRegister__imageSection--register">
		<h2 class="loginRegister__imageSection__title">
			Sistema de <br />
			monitorías
		</h2>
		<img class="loginRegister__imageSection__img--register" src="/img/login-register/students2.png"
			alt="Estudiantes" />
	</section>
</main>
@code {
	private string name;
	private string career;
	private string mail;
	private string code;
	private string id;
	private string password;

	private string _error = "";

	public class responseData
	{
		public string token { get; set; }
		public string error { get; set; }
	}


	private async void sendData()
	{
		var postBody = new { name = name, code = code, career = career, mail = mail, password = password };
		var response = await Http.PostAsJsonAsync("http://localhost:8080/api/usuarios/register", postBody);

		var responseString = await response.Content.ReadFromJsonAsync<responseData>();

		if (responseString.error == "")
		{
			NavigationManager.NavigateTo("/monitorias");
		}
		else
		{
			_error = responseString.error;
		}
	}
}