<div class="mainLayout__navPanel">
				<div class="mainLayout__navPanel__user">
					<img
						class="mainLayout__navPanel__img"
						src="/img/perfil.svg"
						alt="Perfil"
					/>
					<div>
						<span class="mainLayout__navPanel__username">Admin</span>
						<br />
						<span>USC</span>
					</div>
				</div>
				<nav class="nav">
					<ul class="nav__ul">
						<li>
							<a href="/monitorias" class="nav__item">
								<span class="nav__item__text">Monitorias</span>
							</a>
						</li>
						<li>
							<a href="/usuarios" class="nav__item">
								<span class="nav__item__text">Usuarios</span>
							</a>
						</li>
						<li>
							<a href="/" class="nav__item">
								<span class="nav__item__text--logOut">Cerrar Sesión</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
